<footer class="text-center text-lg-start text-muted bg-secondary" >
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05), text-white;">
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="#">Javier Navarro</a>
    </div>
    <!-- Copyright -->
  </footer>