.titulo-navbar {
    color: white;
}

.home-carrusel {
    display: flex;
    justify-content: space-around;
}

.contenedor-carrusel {
    margin-top: 25px;
}

.footer-class {
    background-color: rgb(196, 196, 61);
}
