<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
  <nav class="navbar bg-secondary">
    <div class="container-fluid">
      <img src="../assets/img/logo-bci.png" width="50" height="">
      <a class="navbar-brand titulo-navbar" href="#">BCI Pokedex</a>
      <form class="d-flex" role="search">
        <img src="../assets/img/pokebola.jpg" width="50" height="">
      </form>
    </div>
  </nav>
  <!-- INICIO CARRUSEL -->
  <div id="carouselExampleAutoplaying" class="carousel slide contenedor-carrusel" data-bs-ride="carousel" style="background-color: cadetblue;">
      <div class="carousel-inner home-carrusel">
          <div class="carousel-item active">
              <img src="../../../assets/img/pngwing.com.png" class="d-block w-50" width="350" height="276" >
          </div>

          <div class="carousel-item">
              <img src="../../../assets/img/peakpx.jpg" class="d-block w-50" width="350" height="276">
          </div>
        
          <div class="carousel-item">
              <img src="../../../assets/img/iniciales.jpg" class="d-block w-50" width="350" height="276">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  <!-- FIN CARRUSEL -->
  
  <router-outlet *ngIf="this.listaPokemones"></router-outlet>

<!-- Footer -->
  <app-footer></app-footer>
<!-- Footer -->
