
<div class="text-center" style="margin-top: 100px; margin-bottom: 50px;" *ngIf="this.spinnerConsultaPokemones">
  <div class="spinner-border"  style="width: 10rem; height: 10rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container" *ngIf="!this.spinnerConsultaPokemones">
  <div *ngIf="this.llegadaPokemones.length > 0" class="container" style="margin-top: 25px;">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control"  placeholder="Buscador de pokemon" [(ngModel)]="filtroPokemon">
      </div>
    </div>
  </div>
  <!-- INICIO TABLA POKEDEX -->
  <div class="container container-table" *ngIf="this.llegadaPokemones.length > 0">
    <table class="table table-hover table-bordered" style="border: 3px solid;">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of this.llegadaPokemones | filtroBusqueda: filtroPokemon | paginate: { itemsPerPage: 10, currentPage: page }; let i= index">
          <td> {{ pokemon.id}}</td>
          <td [ngSwitch]="page">  
            <a *ngSwitchCase="1" [routerLink]="['/home/detalle-pokemon', i+1]"> {{ pokemon.name | titlecase }} </a>
            <a *ngSwitchCase="2" [routerLink]="['/home/detalle-pokemon', i+1+10]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="3" [routerLink]="['/home/detalle-pokemon', i+1+20]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="4" [routerLink]="['/home/detalle-pokemon', i+1+30]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="5" [routerLink]="['/home/detalle-pokemon', i+1+40]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="6" [routerLink]="['/home/detalle-pokemon', i+1+50]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="7" [routerLink]="['/home/detalle-pokemon', i+1+60]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="8" [routerLink]="['/home/detalle-pokemon', i+1+70]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="9" [routerLink]="['/home/detalle-pokemon', i+1+80]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="10" [routerLink]="['/home/detalle-pokemon', i+1+90]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="11" [routerLink]="['/home/detalle-pokemon', i+1+100]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="12" [routerLink]="['/home/detalle-pokemon', i+1+110]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="13" [routerLink]="['/home/detalle-pokemon', i+1+120]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="14" [routerLink]="['/home/detalle-pokemon', i+1+130]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="15" [routerLink]="['/home/detalle-pokemon', i+1+140]"> {{ pokemon.name | titlecase }} </a>  
            <a *ngSwitchCase="16" [routerLink]="['/home/detalle-pokemon', i+1+150]"> {{ pokemon.name | titlecase }} </a>  
          </td>
        </tr>
  
      </tbody>
    </table>
  </div>
  <!-- paginacion -->
  <div class="container text-center" *ngIf="this.llegadaPokemones.length > 0">
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
  <!-- paginacion -->
  <!-- FIN TABLA POKEDEX -->
</div>

<div *ngIf="!this.spinnerConsultaPokemones" class="container" style="margin-top: 25px;">
  <div *ngIf="this.llegadaPokemones.length <= 0" class="alert alert-danger" role="alert">
    {{ this.mensajeErrorConsultaPokemones }}
  </div>
</div>


